<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h2 id="location-text">NEW COMPOSITION</h2>
      <div>
        <form action="/journal" method="post">
          <fieldset>
            <legend>New Journal Entry</legend>
            <label
              >Title:
              <input type="text" name="title" placeholder="enter journal title" />
            </label>
            <label>
              Journal Entry:
              <input type="text" id="description" name="content" placeholder="dear diary..."/>
            </label>
            <label>
              Public?
              <input type="checkbox" name="public" />
            </label>
            <input type="submit" value="Post to My Journal!" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
  <style>
  </style>
</html>