<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
<main>
  <div id="index-banner">
    <h2 id="location-text">ABOUT</h2><div id="banner-div-backup">
        <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>