<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
<main>
  <div id="index-banner">
    <h2 id="location-text">ABOUT / README</h2><div id="banner-div-backup">
        <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>
<div id="indent">
<h3>Welcome! You've arrived at the General Journal ReadMe!</h3>
<h2>About</h2>
<p>The goal of this tool is to allow users to create an account, login, and browse public journal entries/manage their own personal journal entries. Users should be able to freely create, edit, view, and delete their own Journal Entries, as well as being able to publicize messages to the entire site when desired.
<h2>Laguages Used</h2>
<p>HTML, CSS, JavaScript, EJS, Express</p>
<h2>Technologies Used</h2>
<p>Visual Studio Code, GitHub, MongoDB, Heroku</p>
<h2>Build Status</h2>
<p>This work is a WIP, and is publicly accessible for collaboration or feedback. </p>
<h2>Future Features & Challenges</h2>
<p>The main stretch goals of this project are below:</p>
<ul>
<li>Connect to the GIPHY API to allow users to attach Giphy images/gifs to their posts.</li>
<li>Build storage on journal entries to allow users to submit Likes and Reactions to other user stories/journal notes.</li>
<li>Add pinning functionality to Pin favorite or reminder notes to a user's front page</li>
<li>Continue to improve styling and functionality</li>
</ul>
<h2>Usage and Navigation</h2>
<p>Users access General Journal's homepage, and are able to login as an un-authenticated user, where they can view the Home Page and view Public Journal notes. All other actions require a user login. Logged in users may commonly use the following features:</p>
<ul>
<li>Access the /Home/ tab to view their own list of Public notes.</li>
<li>Access the /My Journal/ tab to view their own list of Private and Public notes.</li>
<li>From the /My Journal/ tab, access individual notes to edit their title or content.</li>
</ul>
<h2>Getting Started</h2>
<p>To create an account with General Journal, go to "Sign Up" link in the top right corner of the screen:</p>
<img src="../pictures/login-instruct.png" class="pics">
<p>Users will then be re-directed to their personal "My Journal" view, and can freely click around through the Public Jorunal as desired:</p>
<p>Personal Journal Landing Page</p>
<img src="..pictures/personal-view.png" class="pics">
<p>Personal Journal Landing Page</p>
<img src="../pictures/login-view.png" class="pics">
<br>
<p>From their "My Journal link, the user can browse their list of Journal Entries, click on their Titles to edit/delete them, and can create a New Post from the My Journal site as well.</p>
<p>From the "Home" link, users can view the Public Journal, and any updates or contributions made by the end-user will display to the user in a teal-coolred format.</p>
<h2>Reference</h2>
<a href="https://general-journal.herokuapp.com/">General Journal Live Site<a><br>
<a href="https://github.com/nickdavis1018/general-journal">General Journal GitHub<a><br>
<a href="https://trello.com/b/NOQi8o0L/general-journal-development">General Journal Trello Board<a><br>
<h2>Provide Feedback</h2>
<p>Have feedback you would like to share? Want to see a feature added? Want to contribute? <a href = "mailto: nickdavis1018@gmail.com">Send me an email!</a><br></p></div>
<style>
    #indent{
        padding-left: 5px;
    }
</style></html>