<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div id="index-banner">
            <h2 id="location-text">SIGN UP</h2><div id="banner-div-backup">
            <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>
            <div id="top-container"><div id="container">
            <form action="/user/signup" method="post">
            <fieldset>
                <legend>New User Signup</legend>
                <label>Username<input type="text" name="username" required></label>
                <label>Password<input type="password" name="password" required> </label>
                <input type="submit" value="Create Account">
            </fieldset>
            </form>
        </div>
        </div>
        <p id="center-sign">Already have an account? <br><a href="/user/login/">Login!</a></p>
    </main>
</body>
<style>


</style>
</html>